# Raw data files (exclude from repo)
input/*.*
/input
private_scripts/*.*

#dataset 
input/icd10WHO/icd102019syst_codes_WHO.txt
input/hcpc/HCPC2025_OCT_ANWEB.csv
input/icd10US/icd10cm_order_2026_US.txt
input/loinc/Loinc.csv
input/npi/npidata_pfile_20050523-20250810.csv
input/rxnorm/RXNATOMARCHIVE.RRF
input/snomed/sct2_Description_Full-en_US1000124_20250301.txt


#python
/utils
__pycache__
*.pyc
.env
/venv
/utils/__pycache__
/utils/__pycache__/*.pyc


#IDE   
.vscode
.idea

/raw_downloads

